Package: mod-persist
Version: 1.0.1
Description: User modification persistence utility package
 User modification persistence utility package
Section: utilities
Priority: optional
Maintainer: Lucien Denisey <ldenisey@gmail.com>
License: MIT
Architecture: all
Homepage: https://github.com/ldenisey/venus-os-mod-persist
Source: https://github.com/ldenisey/venus-os-mod-persist
Depends: opkg, daemontools
